---
swagger: 2.0
info:
  description: App API for Hive OS 2.0
  version: 2.1-beta
  title: Hive OS API
  contact:
    email: brain@hiveos.farm
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
host: api2.hiveos.farm
basePath: /api/v2
tags:
- name: auth
- name: account
  description: Account methods
- name: farms
- name: workers
- name: fs
  description: Flight sheets
- name: wallets
- name: oc
  description: Overclocking profiles
- name: tags
- name: acl
- name: keys
  description: Attached API keys
- name: roms
  description: ROM files
- name: schedules
- name: benchmarks
- name: containers
- name: pools
  description: Pools, coins, templates
- name: common
- name: hive
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- APIKeyHeader: []
- APIKeyQueryParam: []
paths:
  /auth/login:
    post:
      tags:
      - auth
      summary: Create auth token (sign in)
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/LoginRequest'
      responses:
        "200":
          description: Authentication token
          schema:
            $ref: '#/definitions/AuthToken'
        "403":
          description: Not allowed for authenticated users
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
      security: []
  /auth/logout:
    post:
      tags:
      - auth
      summary: Invalidate auth token (sign out)
      parameters: []
      responses:
        "204":
          description: Successful logout
  /auth/refresh:
    post:
      tags:
      - auth
      summary: Refresh auth token
      description: Just invalidate current token and create new one
      parameters: []
      responses:
        "200":
          description: Authentication token
          schema:
            $ref: '#/definitions/AuthToken'
  /auth/check:
    get:
      tags:
      - auth
      summary: Just check authentication status
      parameters: []
      responses:
        "204":
          description: Authenticated
        "401":
          description: Not authenticated
  /account:
    get:
      tags:
      - account
      summary: Get full account info
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Account'
    post:
      tags:
      - account
      summary: Create account (registration)
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/SignupRequest'
      responses:
        "201":
          description: Account created
          schema:
            allOf:
            - type: object
              properties:
                user_id:
                  type: integer
                  description: Created user ID
            - $ref: '#/definitions/AuthToken'
        "403":
          description: Not allowed for authenticated users
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
      security: []
    delete:
      tags:
      - account
      summary: Delete account
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            twofa_code:
              $ref: '#/definitions/TwofaCode'
      responses:
        "204":
          description: Account deleted
        "400":
          description: Code verification failed
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/profile:
    get:
      tags:
      - account
      summary: Get profile infirmation
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/UserProfile'
    patch:
      tags:
      - account
      summary: Update profile
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/UserProfileFields'
      responses:
        "204":
          description: Entity updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/password:
    put:
      tags:
      - account
      summary: Change password
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          required:
          - new_password
          - password
          properties:
            password:
              type: string
              format: password
              description: Current password
            new_password:
              $ref: '#/definitions/Password'
      responses:
        "204":
          description: Password has been updated
        "400":
          description: If current password is invalid
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/password/reset:
    post:
      tags:
      - account
      summary: Request password reset
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            email:
              type: string
              format: email
              description: Account email address
      responses:
        "202":
          description: Email with password reset token has been sent
        "403":
          description: Not allowed for authenticated users
      security: []
    put:
      tags:
      - account
      summary: Reset password
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            email:
              type: string
              format: email
              description: Account email address
            token:
              type: string
              description: Password reset token from email
            new_password:
              $ref: '#/definitions/Password'
      responses:
        "200":
          description: Password has been updated
          schema:
            $ref: '#/definitions/AuthToken'
        "403":
          description: Not allowed for authenticated users
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
      security: []
  /account/access:
    patch:
      tags:
      - account
      summary: Update account access settings
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AccountAccess'
      responses:
        "204":
          description: Entity updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/twofa/secret:
    get:
      tags:
      - account
      summary: Generate secret code to enable Two Factor Authentication (2FA)
      parameters: []
      responses:
        "200":
          description: Secret code generated
          schema:
            type: object
            properties:
              secret:
                type: string
                description: Secret code
              qr_code_url:
                type: string
                format: url
                description: URL to QR-Code image for scanning the secret
  /account/twofa:
    post:
      tags:
      - account
      summary: Enable Two Factor Authentication (2FA)
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            secret:
              type: string
              description: Generated secret code
            twofa_code:
              $ref: '#/definitions/TwofaCode'
      responses:
        "204":
          description: 2FA enabled
        "400":
          description: Code verification failed
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
    delete:
      tags:
      - account
      summary: Disable Two Factor Authentication (2FA)
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            twofa_code:
              $ref: '#/definitions/TwofaCode'
      responses:
        "204":
          description: 2FA disabled
        "400":
          description: Code verification failed
        "404":
          description: 2FA is not enabled
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/notifications:
    get:
      tags:
      - account
      summary: Get notifications settings
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/NotificationChannels'
            - $ref: '#/definitions/NotificationSubscriptionsAccount'
    patch:
      tags:
      - account
      summary: Update notifications settings
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/NotificationSubscriptionsAccount'
      responses:
        "204":
          description: Entity updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/notifications/{channel}:
    post:
      tags:
      - account
      summary: Subscribe to Hive Bot notifications
      parameters:
      - name: channel
        in: path
        description: |
          Channel name.
          Available channels can be get from `/hive/notification_channels` endpoint
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            auth_code:
              type: string
              example: 12345
              description: Code given by bot
      responses:
        "204":
          description: Successfuly subscribed
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
    delete:
      tags:
      - account
      summary: Unsubscribe from Hive Bot notifications
      parameters:
      - name: channel
        in: path
        description: |
          Channel name.
          Available channels can be get from `/hive/notification_channels` endpoint
        required: true
        type: string
      responses:
        "204":
          description: Successfuly unsubscribed
  /account/events:
    get:
      tags:
      - account
      summary: Account events
      parameters:
      - name: page
        in: query
        description: Page number
        required: false
        type: integer
        default: 1
      - name: per_page
        in: query
        description: Per-page count (default is 15)
        required: false
        type: integer
      - name: type_id
        in: query
        description: Return only records of these types, comma-separated list of IDs
        required: false
        type: string
      - name: exclude_type_id
        in: query
        description: Exclude records of these types, comma-separated list of IDs
        required: false
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/AccountEvent'
              pagination:
                $ref: '#/definitions/Pagination'
  /account/transactions:
    get:
      tags:
      - account
      summary: Account transactions history
      parameters:
      - name: page
        in: query
        description: Page number
        required: false
        type: integer
        default: 1
      - name: per_page
        in: query
        description: Per-page count (default is 15)
        required: false
        type: integer
      - name: type_id
        in: query
        description: Return only records of these types, comma-separated list of IDs
        required: false
        type: string
      - name: exclude_type_id
        in: query
        description: Exclude records of these types, comma-separated list of IDs
        required: false
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/TransactionAccount'
  /account/payments:
    get:
      tags:
      - account
      summary: Account payments history
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Payment'
  /account/referral/balances:
    get:
      tags:
      - account
      summary: Get referral balances
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ReferralBalance'
  /account/referral/payout_addresses:
    get:
      tags:
      - account
      summary: Get payout addresses
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/ReferralPayoutAddress'
    put:
      tags:
      - account
      summary: Update payout addresses
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/definitions/ReferralPayoutAddress'
      responses:
        "204":
          description: Entity updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/referral/payout_to_account:
    post:
      tags:
      - account
      summary: Make a payout to hive account
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/definitions/ReferralPayoutRequest'
      responses:
        "200":
          description: Payout succeeded
          schema:
            type: object
            properties:
              data:
                type: array
                description: Updated referral balances
                items:
                  $ref: '#/definitions/ReferralBalance'
              balance:
                type: number
                description: Updated user balance
        "400":
          description: Not enough funds
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/referral/promocode:
    put:
      tags:
      - account
      summary: Update promo code
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          required:
          - promocode
          properties:
            promocode:
              type: string
      responses:
        "204":
          description: Entity updated
        "403":
          description: Account is very young to use promocodes
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/deposit/coinpayments:
    get:
      tags:
      - account
      summary: Get request data for submitting to coinpayments system
      parameters:
      - name: amount
        in: query
        description: Deposit amount in fiat currency
        required: true
        type: number
        minimum: 0.01
      - name: farm_id
        in: query
        description: |
          Farm ID
          If set - after successful deposit in account the whole amount will be deposited in this farm
        required: false
        type: number
      - name: success_url
        in: query
        description: The URL to return after successful payment
        required: false
        type: string
      - name: cancel_url
        in: query
        description: The URL to return in after payment cancellation
        required: false
        type: string
      responses:
        "200":
          description: Returns URL and parameters for submitting with POST method
          schema:
            type: object
            properties:
              url:
                type: string
                description: URL where to submit the form
              data:
                type: object
                description: Form data
                properties: {}
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/deposit/address:
    get:
      tags:
      - account
      summary: Get list of generated payment addresses
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/DepositAddress'
    post:
      tags:
      - account
      summary: Generate payment address for deposits
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DepositAddressCreateRequest'
      responses:
        "201":
          description: Address generated
          schema:
            $ref: '#/definitions/DepositAddress'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/tokens:
    get:
      tags:
      - account
      summary: Get list of auth tokens
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/AuthTokenItem'
    post:
      tags:
      - account
      summary: Create new personal auth token
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AuthTokenItemCreateUpdateRequest'
      responses:
        "201":
          description: Token created
          schema:
            $ref: '#/definitions/AuthTokenItemFull'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/tokens/{tokenId}:
    get:
      tags:
      - account
      summary: Get auth token info
      parameters:
      - name: tokenId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/AuthTokenItemFull'
    delete:
      tags:
      - account
      summary: Delete auth token
      parameters:
      - name: tokenId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Entity deleted
    patch:
      tags:
      - account
      summary: Edit auth token
      parameters:
      - name: tokenId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/AuthTokenItemCreateUpdateRequest'
      responses:
        "204":
          description: Entity updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/tokens/session:
    delete:
      tags:
      - account
      summary: Delete all session tokens except current.
      description: Personal tokens are not affected.
      parameters: []
      responses:
        "204":
          description: Entity deleted
  /account/send_money:
    post:
      tags:
      - account
      summary: Send money to another user
      parameters:
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            login:
              type: string
              description: Login or Email of user who will receive the money
            amount:
              type: number
              description: Amount in fiat currency
              minimum: 0.01
      responses:
        "204":
          description: OK
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /account/meta:
    get:
      tags:
      - account
      summary: Get all meta data from all namespaces
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            description: Meta data keyed by namespace
  /account/meta/{namespace}:
    get:
      tags:
      - account
      summary: Get meta data from namespace
      parameters:
      - name: namespace
        in: path
        required: true
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            description: Meta data
    put:
      tags:
      - account
      summary: Replace the whole meta in namespace with provided data
      parameters:
      - name: namespace
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: object
          description: Meta data
      responses:
        "204":
          description: OK
    delete:
      tags:
      - account
      summary: Delete the whole meta data namespace
      parameters:
      - name: namespace
        in: path
        required: true
        type: string
      responses:
        "204":
          description: OK
    patch:
      tags:
      - account
      summary: Merge existing meta in namespace with provided data
      parameters:
      - name: namespace
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          type: object
          description: Meta data
      responses:
        "204":
          description: OK
  /account/announcements:
    get:
      tags:
      - account
      summary: List of unread announcements
      description: |
        Announcements are messages from Hive OS team with important information
        such as scheduled downtime or technical issues.
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    title:
                      type: string
                      description: Title
                    message:
                      type: string
                      description: Message text
                    type:
                      type: string
                      example: info
                      description: Severity type
                      enum:
                      - info
                      - success
                      - warning
                      - danger
                    url:
                      type: string
                      format: url
                      description: URL to details page
                    start_at:
                      type: integer
                      format: timestamp
                      description: When the associated event is scheduled to start
                    end_at:
                      type: integer
                      format: timestamp
                      description: When the associated event is scheduled to finish
                    is_hidden:
                      type: boolean
                      description: Announcements is hidden by user
  /account/announcements/{announcementId}/hide:
    post:
      tags:
      - account
      summary: Hide announcement (mark as read)
      parameters:
      - name: announcementId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Announcement has been hidden
  /farms:
    get:
      tags:
      - farms
      summary: List of accessed farms
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/FarmListItem'
              tags:
                type: array
                description: Tags that are used by returned farms
                items:
                  $ref: '#/definitions/TagU'
    post:
      tags:
      - farms
      summary: Create new farm
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/FarmCreateRequest'
      responses:
        "201":
          description: Farm created
          schema:
            $ref: '#/definitions/Farm'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
    delete:
      tags:
      - farms
      summary: Delete multiple farms
      parameters:
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/IDs'
      responses:
        "204":
          description: Entity deleted
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}:
    get:
      tags:
      - farms
      summary: Farm info
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Farm'
    delete:
      tags:
      - farms
      summary: Delete farm
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Entity deleted
    patch:
      tags:
      - farms
      summary: Edit farm
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/FarmUpdateRequest'
      responses:
        "204":
          description: Entity updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/events:
    get:
      tags:
      - farms
      summary: Farm events
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: page
        in: query
        description: Page number
        required: false
        type: integer
        default: 1
      - name: per_page
        in: query
        description: Per-page count (default is 15)
        required: false
        type: integer
      - name: type_id
        in: query
        description: Return only records of these types, comma-separated list of IDs
        required: false
        type: string
      - name: exclude_type_id
        in: query
        description: Exclude records of these types, comma-separated list of IDs
        required: false
        type: string
      - name: worker_id
        in: query
        description: Return only records for these workers, comma-separated list of IDs
        required: false
        type: string
      - name: config_type
        in: query
        description: Comma-separated list of hiveclient.conf types
        required: false
        type: string
        enum:
        - fs_conf
        - worker_conf
        - autofan_conf
        - coolbox_conf
        - octofan_conf
        - amd_conf
        - nvidia_conf
      - name: search
        in: query
        description: String with searched value
        required: false
        type: string
      - name: user
        in: query
        description: Filter by user. Both login and name are used for searching. This filter is searching by "contains", not "equals".
        required: false
        type: string
      - name: group
        in: query
        description: Output grouped events when possible
        required: false
        type: integer
        default: 0
        enum:
        - 0
        - 1
      - name: group_id
        in: query
        description: Output events cotained in this group
        required: false
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/FarmEvent'
              pagination:
                $ref: '#/definitions/Pagination'
  /farms/{farmId}/transactions:
    get:
      tags:
      - farms
      summary: Transactions history
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: page
        in: query
        description: Page number
        required: false
        type: integer
        default: 1
      - name: per_page
        in: query
        description: Per-page count (default is 15)
        required: false
        type: integer
      - name: type_id
        in: query
        description: Return only records of these types, comma-separated list of IDs
        required: false
        type: string
      - name: exclude_type_id
        in: query
        description: Exclude records of these types, comma-separated list of IDs
        required: false
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/TransactionFarm'
  /farms/{farmId}/metrics:
    get:
      tags:
      - farms
      summary: Farm metrics
      description: |
        Provides metrics for current farm.
        Data is refreshed every 5 minutes.
        For 1 week period - metrics are downsampled by 15 minutes.
        For 1 month period - metrics are downsampled by 1 hour.
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: date
        in: query
        description: Start date
        required: false
        type: string
        default: today
        format: date, yyyy-mm-dd
      - name: period
        in: query
        description: Period (1 day, 1 week, 1 month)
        required: false
        type: string
        default: 1d
        enum:
        - 1d
        - 1w
        - 1m
      - name: fill_gaps
        in: query
        description: Fill gaps with empty points
        required: false
        type: integer
        default: 0
        enum:
        - 0
        - 1
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/FarmMetric'
  /farms/{farmId}/stats:
    get:
      tags:
      - farms
      summary: Farm stats
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: worker_ids
        in: query
        description: Calculate stats only for these workers. Comma-separated IDs list.
        required: false
        type: string
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/FarmStatsField'
            - $ref: '#/definitions/FarmHashrates'
  /farms/{farmId}/deposit:
    post:
      tags:
      - farms
      summary: Make deposit to the farm from account balance
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/Deposit'
      responses:
        "204":
          description: OK
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/invoice:
    get:
      tags:
      - farms
      summary: Generate invoice for specified period
      description: If period is not set - invoice for last month will be generated.
      produces:
      - application/pdf
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: start_date
        in: query
        description: Start date
        required: false
        type: string
        format: date, yyyy-mm-dd
      - name: end_date
        in: query
        description: End date
        required: false
        type: string
        format: date, yyyy-mm-dd
      responses:
        "200":
          description: Generated PDF file
          schema:
            type: file
  /farms/{farmId}/power_report:
    get:
      tags:
      - farms
      summary: Generate report about power consumption for specified period
      produces:
      - application/pdf
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: start_date
        in: query
        description: Start date
        required: true
        type: string
        format: date, yyyy-mm-dd
      - name: period
        in: query
        description: The period for which the report will be generated.
        required: true
        type: string
        enum:
        - 1d
        - 3d
        - 1w
        - 1m
      - name: action
        in: query
        description: The action with report after generation.
        required: true
        type: string
        enum:
        - download
        - send_to_email
      - name: worker_ids
        in: query
        description: Comma-separated list of worker ids for generating workers-specific report
        required: false
        type: string
      responses:
        "200":
          description: Generated PDF file|Report sent to email successful
          schema:
            type: file
  /farms/{farmId}/notifications:
    get:
      tags:
      - farms
      summary: Get notifications settings
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/NotificationChannels'
            - $ref: '#/definitions/NotificationSubscriptionsFarm'
    patch:
      tags:
      - farms
      summary: Update notifications settings
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/NotificationSubscriptionsFarm'
      responses:
        "204":
          description: Entity updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/transfers:
    get:
      tags:
      - farms
      summary: Get active transfers requests of all available farms
      parameters: []
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  allOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                        description: Transfer ID
                      farm:
                        type: object
                        description: Farm being transferred
                        allOf:
                        - $ref: '#/definitions/FarmShortInfo'
                  - $ref: '#/definitions/FarmTransfer'
  /farms/{farmId}/transfer:
    get:
      tags:
      - farms
      summary: Get active farm transfer request
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/FarmTransfer'
        "404":
          description: If transfer was not yet requested
    post:
      tags:
      - farms
      summary: Create farm transfer request
      description: |
        This action sends a request to target user and the farm will be transferred when that user confirm the request.
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          required:
          - login
          properties:
            login:
              type: string
              description: Login or Email of user who will receive the request
            type:
              type: object
              allOf:
              - $ref: '#/definitions/FarmTransferType'
      responses:
        "201":
          description: Transfer request has been sent
          schema:
            $ref: '#/definitions/FarmTransfer'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
    delete:
      tags:
      - farms
      summary: Cancel farm transfer request
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Entity deleted
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/incoming:
    get:
      tags:
      - farms
      summary: Get incoming farm transfer requests
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  properties:
                    farm:
                      $ref: '#/definitions/FarmShortInfo'
                    user:
                      type: object
                      description: Who initiated the request
                      allOf:
                      - $ref: '#/definitions/UserShortInfo'
                    type:
                      $ref: '#/definitions/FarmTransferType'
                    created_at:
                      type: integer
                      format: timestamp
                      description: When the request was created
  /farms/incoming/confirm:
    post:
      tags:
      - farms
      summary: Confirm transfer request
      description: This action must be performed by user who received transfer request.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - farm_id
          properties:
            farm_id:
              type: integer
              description: Farm ID
      responses:
        "204":
          description: Request has been confirmed
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/incoming/reject:
    post:
      tags:
      - farms
      summary: Reject transfer request
      description: This action must be performed by user who received transfer request.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          type: object
          required:
          - farm_id
          properties:
            farm_id:
              type: integer
              description: Farm ID
      responses:
        "204":
          description: Request has been rejected
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/payer:
    delete:
      tags:
      - farms
      summary: Unassign farm payer and restore default value
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Entity deleted
  /farms/{farmId}/send_money:
    post:
      tags:
      - farms
      summary: Send money to user
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            login:
              type: string
              description: Login or Email of user who will receive the money
            amount:
              type: number
              description: Amount in fiat currency
              minimum: 0.01
      responses:
        "204":
          description: OK
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/deposit/address:
    get:
      tags:
      - farms
      summary: Get list of generated payment addresses
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/DepositAddress'
    post:
      tags:
      - farms
      summary: Generate payment address for deposits
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/DepositAddressCreateRequest'
      responses:
        "201":
          description: Address generated
          schema:
            $ref: '#/definitions/DepositAddress'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/workers:
    get:
      tags:
      - workers
      summary: Farm workers list
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: filter
        in: query
        description: Optional filter for workers
        required: false
        type: string
        enum:
        - problem
        - problem24
        - online
        - offline
      - name: tags
        in: query
        description: Filter by tags. Comma-separated list of Tag IDs.
        required: false
        type: string
      - name: platform
        in: query
        description: |
          Worker platform:
          * 1 - GPU
          * 2 - ASIC
        required: false
        type: integer
        enum:
        - 1
        - 2
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/WorkerListItem'
              tags:
                type: array
                description: Tags that are used by returned workers
                items:
                  $ref: '#/definitions/TagF'
    post:
      tags:
      - workers
      summary: Create new worker
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WorkerCreateRequest'
      responses:
        "201":
          description: Worker created
          schema:
            $ref: '#/definitions/Worker'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
    delete:
      tags:
      - workers
      summary: Delete multiple workers
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/IDs'
      responses:
        "204":
          description: Entity deleted
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
    patch:
      tags:
      - workers
      summary: Edit multiple workers at once
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: merge
        in: query
        description: |
          Merge some fields instead of replace them.
          These fields are:
          * miners_config
          * watchdog
          * autofan
          * octofan
          * coolbox
          * fanflap
          * powermeter
        required: false
        type: boolean
        enum:
        - 0
        - 1
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            worker_ids:
              type: array
              items:
                type: integer
            data:
              $ref: '#/definitions/WorkerMultiEditRequest'
      responses:
        "200":
          description: Workers updated
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  allOf:
                  - type: object
                    properties:
                      worker_id:
                        type: integer
                    required:
                    - worker_id
                  - $ref: '#/definitions/WorkerUpdatedResponse'
            description: Per-worker update response
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/workers/preview:
    get:
      tags:
      - workers
      summary: Preview all workers of the farm
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/WorkerShortInfo'
  /farms/{farmId}/workers/multi:
    post:
      tags:
      - workers
      summary: Create multiple workers
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/definitions/WorkerCreateRequest'
      responses:
        "201":
          description: Workers created
          schema:
            type: object
            properties:
              data:
                type: array
                description: Created workers in order they were provided in request
                items:
                  $ref: '#/definitions/Worker'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
    patch:
      tags:
      - workers
      summary: Edit multiple workers
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            data:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: Worker ID to update
                  data:
                    $ref: '#/definitions/WorkerEditRequest'
      responses:
        "200":
          description: Workers updated
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  allOf:
                  - type: object
                    properties:
                      worker_id:
                        type: integer
                    required:
                    - worker_id
                  - $ref: '#/definitions/WorkerUpdatedResponse'
            description: Per-worker update response
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/workers/command:
    post:
      tags:
      - workers
      summary: Execute command on multiple workers
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            worker_ids:
              type: array
              items:
                type: integer
            data:
              $ref: '#/definitions/CommandRequest'
      responses:
        "200":
          description: Command sent
          schema:
            type: object
            properties:
              id:
                type: integer
                description: Command ID
              commands:
                type: array
                description: Per-worker commands list
                items:
                  type: object
                  allOf:
                  - type: object
                    properties:
                      worker_id:
                        type: integer
                    required:
                    - worker_id
                  - $ref: '#/definitions/WorkerCommands'
  /farms/{farmId}/workers/command/amd_upload:
    post:
      tags:
      - workers
      summary: Extended version of "amd_upload" command
      description: Allows to flash different AMD GPUs of different workers in one request.
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            data:
              type: array
              description: Grouped by ROM request data
              items:
                $ref: '#/definitions/RomUploadRequestItem'
      responses:
        "200":
          description: Command sent
          schema:
            type: object
            properties:
              id:
                type: integer
                description: Command ID
              commands:
                type: array
                description: Per-worker commands list
                items:
                  type: object
                  allOf:
                  - type: object
                    properties:
                      worker_id:
                        type: integer
                    required:
                    - worker_id
                  - $ref: '#/definitions/WorkerCommands'
  /farms/{farmId}/workers/command/nvidia_upload:
    post:
      tags:
      - workers
      summary: Extended version of "nvidia_upload" command
      description: Allows to flash different Nvidia GPUs of different workers in one request.
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            data:
              type: array
              description: Grouped by ROM request data
              items:
                $ref: '#/definitions/RomUploadRequestItem'
      responses:
        "200":
          description: Command sent
          schema:
            type: object
            properties:
              id:
                type: integer
                description: Command ID
              commands:
                type: array
                description: Per-worker commands list
                items:
                  type: object
                  allOf:
                  - type: object
                    properties:
                      worker_id:
                        type: integer
                    required:
                    - worker_id
                  - $ref: '#/definitions/WorkerCommands'
  /farms/{farmId}/workers/overclock:
    post:
      tags:
      - workers
      summary: Extended overclocking
      description: |
        Allows to overlock individual GPUs of different workers in one request.
        Provided configurations will be merged into actual overclock of corresponding worker.
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            gpu_data:
              type: array
              description: Overclocking request data with GPU-related params.
              items:
                type: object
                properties:
                  gpus:
                    type: array
                    description: GPUs to overclock. Different workers can be mixed here.
                    items:
                      type: object
                      properties:
                        worker_id:
                          type: integer
                          description: Worker ID
                        gpu_index:
                          type: string
                          example: 0,1,2
                          description: Comma-separated list of GPU indexes (zero-based)
                  amd:
                    type: object
                    description: Overclock configuration for AMD GPUs
                    properties:
                      core_clock:
                        type: integer
                        description: Core Clock (Mhz)
                      core_state:
                        type: integer
                        description: Core State (Index)
                      core_vddc:
                        type: integer
                        description: Core Voltage (mV)
                      mem_clock:
                        type: integer
                        description: Memory Clock (Mhz)
                      mem_state:
                        type: integer
                        description: Mem State (Index)
                      mem_mvdd:
                        type: integer
                        description: Memory voltage (mV)
                      mem_vddci:
                        type: integer
                        description: Memory bus voltage (mV)
                      fan_speed:
                        type: integer
                        description: Fan (%)
                      power_limit:
                        type: integer
                        description: Power Limit (W) (0 for stock value)
                  nvidia:
                    type: object
                    description: Overclock configuration for Nvidia GPUs
                    properties:
                      core_clock:
                        type: integer
                        description: +Core Clock (Mhz)
                      mem_clock:
                        type: integer
                        description: +Memory (Mhz)
                      fan_speed:
                        type: integer
                        description: Fan (%) (0 for auto)
                      power_limit:
                        type: integer
                        description: Power Limit (W) (0 for stock value)
            common_data:
              type: array
              description: Overclocking request data with worker-global params.
              items:
                type: object
                properties:
                  worker_ids:
                    type: array
                    description: Worker IDs
                    items:
                      type: integer
                  amd:
                    type: object
                    description: Overclock configuration for AMD GPUs
                    properties:
                      aggressive:
                        type: boolean
                        description: Aggressive undervolting (set OC for each DPM state)
                  nvidia:
                    type: object
                    description: Overclock configuration for Nvidia GPUs
                    properties:
                      logo_off:
                        type: boolean
                        description: Turn Off LEDs (may not work on some cards)
                      ohgodapill:
                        type: boolean
                        description: Enable OhGodAnETHlargementPill
                      ohgodapill_start_timeout:
                        type: integer
                        description: Timeout to start OhGodAnETHlargementPill, seconds
                      ohgodapill_args:
                        type: string
                        example: --revA 0,1,2
                        description: Arguments for OhGodAnETHlargementPill
                      running_delay:
                        type: integer
                        description: Delay before applying overclock, seconds
      responses:
        "200":
          description: Command sent
          schema:
            type: object
            properties:
              id:
                type: integer
                description: Command ID
              commands:
                type: array
                description: Per-worker commands list
                items:
                  type: object
                  allOf:
                  - type: object
                    properties:
                      worker_id:
                        type: integer
                    required:
                    - worker_id
                  - $ref: '#/definitions/WorkerCommands'
  /farms/{farmId}/workers/reload:
    post:
      tags:
      - workers
      summary: Reload multiple workers
      description: Send configuration to workers, including flight sheet and overclock
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WorkerIds'
      responses:
        "201":
          description: Command sent
          schema:
            type: object
            properties:
              id:
                type: integer
                description: Command ID
              commands:
                type: array
                description: Per-worker commands list
                items:
                  type: object
                  allOf:
                  - type: object
                    properties:
                      worker_id:
                        type: integer
                    required:
                    - worker_id
                  - $ref: '#/definitions/WorkerCommands'
  /farms/{farmId}/workers/messages:
    get:
      tags:
      - workers
      summary: Farm workers messages list
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: page
        in: query
        description: Page number
        required: false
        type: integer
        default: 1
      - name: per_page
        in: query
        description: Per-page count (default is 15)
        required: false
        type: integer
      - name: worker_ids
        in: query
        description: Return only records for these workers, comma-separated list of IDs
        required: false
        type: string
      - name: message_ids
        in: query
        description: Return only these messages, comma-separated list of IDs
        required: false
        type: string
      - name: with_payload
        in: query
        description: Include message payload to ouput
        required: false
        type: integer
        default: 0
        enum:
        - 0
        - 1
      - name: start_time
        in: query
        description: Return only messages starting from given timestamp
        required: false
        type: integer
        format: timestamp
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  type: object
                  allOf:
                  - $ref: '#/definitions/WorkerMessage'
                  - type: object
                    properties:
                      worker:
                        $ref: '#/definitions/WorkerShortInfo'
    delete:
      tags:
      - workers
      summary: Delete all messages of all or provided workers
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            worker_ids:
              type: array
              description: Delete messages only of these workers.
              items:
                type: integer
            types:
              type: array
              description: Delete messages only of these types.
              items:
                $ref: '#/definitions/MessageType'
      responses:
        "204":
          description: Entity deleted
  /farms/{farmId}/workers/transfer:
    post:
      tags:
      - workers
      summary: Transfer multiple workers to another farm
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          allOf:
          - $ref: '#/definitions/WorkerIds'
          - $ref: '#/definitions/WorkerTransferRequest'
      responses:
        "204":
          description: Workers transferred
  /farms/{farmId}/workers/gpus:
    get:
      tags:
      - workers
      summary: Farm workers GPUs list
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: worker_ids
        in: query
        description: Return only records for these workers, comma-separated list of IDs
        required: false
        type: string
      - name: tags
        in: query
        description: Filter by tags. Comma-separated list of Tag IDs.
        required: false
        type: string
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Gpu'
  /farms/{farmId}/workers/filters:
    get:
      tags:
      - workers
      summary: Available values for filters that are used in worker and GPU lists
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              problems:
                type: array
                items:
                  type: string
                  example: overheat
              coins:
                type: array
                items:
                  type: string
                  example: ETH
              pools:
                type: array
                items:
                  type: string
                  example: hiveon
              miners:
                type: array
                items:
                  type: string
                  example: phoenixminer
              kinds:
                type: array
                items:
                  type: string
                  example: gpu
              wallets:
                type: array
                items:
                  type: integer
                  example: 12345
              tags:
                type: array
                items:
                  type: integer
                  example: 12345
              gpu_names:
                type: array
                items:
                  type: string
                  example: GeForce GTX 1070
              gpu_brands:
                type: array
                items:
                  type: string
                  example: nvidia
              gpu_mem_sizes:
                type: array
                items:
                  type: string
                  example: 8119 MiB
              gpu_mem_sizes_gb:
                type: array
                items:
                  type: integer
                  example: 8
              gpu_mem_types:
                type: array
                items:
                  type: string
                  example: SK Hynix H5GC4H24AJR
              gpu_mem_oems:
                type: array
                items:
                  type: string
                  example: Hynix
              gpu_oems:
                type: array
                items:
                  type: string
                  example: Asus
  /farms/{farmId}/workers/fix_auto_tags:
    post:
      tags:
      - workers
      summary: Synchronize auto-tags of all workers of the farm
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Tags updated
  /farms/{farmId}/workers/{workerId}:
    get:
      tags:
      - workers
      summary: Worker info
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Worker'
    delete:
      tags:
      - workers
      summary: Delete worker
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Entity deleted
    patch:
      tags:
      - workers
      summary: Edit worker
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WorkerEditRequest'
      responses:
        "200":
          description: Worker updated
          schema:
            $ref: '#/definitions/WorkerUpdatedResponse'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/workers/{workerId}/password:
    put:
      tags:
      - workers
      summary: Update worker password
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WorkerEditPassword'
      responses:
        "204":
          description: Password updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/workers/{workerId}/command:
    post:
      tags:
      - workers
      summary: Execute command
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CommandRequest'
      responses:
        "201":
          description: Command sent
          schema:
            allOf:
            - type: object
              properties:
                id:
                  type: integer
                  description: Command ID
            - $ref: '#/definitions/WorkerCommands'
  /farms/{farmId}/workers/{workerId}/reload:
    post:
      tags:
      - workers
      summary: Reload worker
      description: Send configuration to worker, including flight sheet and overclock
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      responses:
        "201":
          description: Command sent
          schema:
            allOf:
            - type: object
              properties:
                id:
                  type: integer
                  description: Command ID
            - $ref: '#/definitions/WorkerCommands'
  /farms/{farmId}/workers/{workerId}/metrics:
    get:
      tags:
      - workers
      summary: Worker metrics
      description: |
        Provides metrics for current worker.
        Data is refreshed every 5 minutes.
        For 1 week period - metrics are downsampled by 15 minutes.
        For 1 month period - metrics are downsampled by 1 hour.
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - name: date
        in: query
        description: Start date
        required: false
        type: string
        default: today
        format: date, yyyy-mm-dd
      - name: period
        in: query
        description: Period (1 day, 1 week, 1 month)
        required: false
        type: string
        default: 1d
        enum:
        - 1d
        - 1w
        - 1m
      - name: fill_gaps
        in: query
        description: Fill gaps with empty points
        required: false
        type: integer
        default: 0
        enum:
        - 0
        - 1
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/WorkerMetric'
  /farms/{farmId}/workers/{workerId}/messages:
    get:
      tags:
      - workers
      summary: Worker messages
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - name: message_ids
        in: query
        description: Return only these messages, comma-separated list of IDs
        required: false
        type: string
      - name: with_payload
        in: query
        description: Include message payload to ouput
        required: false
        type: integer
        default: 0
        enum:
        - 0
        - 1
      - name: start_time
        in: query
        description: Return only messages starting from given timestamp
        required: false
        type: integer
        format: timestamp
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/WorkerMessageFull'
    delete:
      tags:
      - workers
      summary: Delete all worker messages
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          type: object
          properties:
            types:
              type: array
              description: Delete messages only of these types.
              items:
                $ref: '#/definitions/MessageType'
      responses:
        "204":
          description: Entity deleted
  /farms/{farmId}/workers/{workerId}/messages/{messageId}:
    get:
      tags:
      - workers
      summary: Get worker message
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - name: messageId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/WorkerMessageFull'
    delete:
      tags:
      - workers
      summary: Delete message
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - name: messageId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Entity deleted
  /farms/{farmId}/workers/{workerId}/transfer:
    post:
      tags:
      - workers
      summary: Transfer worker to another farm
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/WorkerTransferRequest'
      responses:
        "204":
          description: Worker transferred
  /farms/{farmId}/workers/{workerId}/configs:
    get:
      tags:
      - workers
      summary: Get configuration files for worker
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/WorkerConfigFiles'
  /farms/{farmId}/workers/{workerId}/fix_auto_tags:
    post:
      tags:
      - workers
      summary: Synchronize auto-tags of the worker
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: workerId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Tags updated
  /farms/{farmId}/fs:
    get:
      tags:
      - fs
      summary: Flight sheets list
      description: Returns flight sheets that belong to given farm along with flight sheets that belong to farm's owner
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/FlightSheetF'
    post:
      tags:
      - fs
      summary: Create new flight sheet
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/FSCreateRequest'
      responses:
        "201":
          description: Flight sheet created
          schema:
            $ref: '#/definitions/FlightSheetF'
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
    delete:
      tags:
      - fs
      summary: Delete multiple flight sheets
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/IDs'
      responses:
        "204":
          description: Entity deleted
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
                type: string
                example: The given data was invalid.
              errors:
                type: object
                example:
                  field1:
                  - The field1 is required
                  field2:
                  - The field2 must be a string
                  - The field2 must be 6 characters length
                description: Errors by field
                additionalProperties:
                  type: array
                  items:
                    type: string
  /farms/{farmId}/fs/{fsId}:
    get:
      tags:
      - fs
      summary: Flight sheet info
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: fsId
        in: path
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/FlightSheetF'
    delete:
      tags:
      - fs
      summary: Delete flight sheet
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: fsId
        in: path
        required: true
        type: integer
      responses:
        "204":
          description: Entity deleted
        "409":
          description: Flight sheet is used by workers
    patch:
      tags:
      - fs
      summary: Edit flight sheet
      parameters:
      - name: farmId
        in: path
        required: true
        type: integer
      - name: fsId
        in: path
        required: true
        type: integer
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/FSUpdateRequest'
      responses:
        "204":
          description: Entity updated
        "422":
          description: Validation errors
          schema:
            type: object
            properties:
              message:
[...]
